@font-face {
  font-family: 'SintonyBold';
  src: url(../fonts/sintony-bold.ttf); }

body {
  max-width: 1970px;
  margin: 0; }

h1 {
  font-size: 35px; }

h2 {
  font-size: 24px; }

p {
  font-size: 14px; }

.wrapper {
  width: 1230px;
  margin: 0 auto; }

.headr {
  height: 87px;
  font-family: SintonyBold; }

.logo, .menu, .cart, .booking {
  height: 87px;
  line-height: 87px; }

.logo {
  float: left; }

.logo__img {
  margin: auto 15px;
  vertical-align: middle; }

.menu {
  float: left; }

.menu ul {
  margin: auto 0 auto 75px; }

.menu ul li {
  list-style-type: none;
  display: inline;
  padding: 0 15px;
  text-transform: uppercase;
  font-size: 14px; }

.cart {
  float: left; }

.cart__icon {
  margin: auto 15px;
  vertical-align: middle; }

.booking {
  float: left; }

.booking__icon-plate {
  margin: auto 15px auto 0;
  vertical-align: middle; }

.booking__button {
  background: #fea100;
  padding: 12px 12px;
  margin: auto 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 14px;
  border: 4px double white;
  border-radius: 5px;
  line-height: 24px;
  vertical-align: middle; }

.banner {
  background-image: url(../img/banner-img.png);
  height: 570px;
  background-size: cover;
  background-position: center center;
  min-width: 1230px;
  position: relative; }

.navigation__dot {
  top: 50%;
  margin-top: -50px;
  margin-left: 15px;
  position: absolute; }

.banner-text {
  color: white;
  top: 50%;
  margin-top: -50px;
  margin-left: 15px;
  position: absolute; }

.banner-text__first-line {
  font-size: 56px; }

.banner-text__second-line {
  font-size: 40px; }

.banner-text__second-line_text-color {
  color: #fea100; }

.explore-foodmenu {
  position: absolute;
  bottom: -85px;
  margin-left: 15px; }

.below-banner {
  background-color: #edf1f3;
  height: 100px;
  line-height: 100px; }

.below-banner__namber-phone {
  font-size: 32px;
  float: right;
  margin: 0 30px; }

.below-banner__text-phone_text-clor {
  color: #fea100; }

.below-banner__icon-phone {
  float: right; }

.below-banner__img-phone {
  vertical-align: middle; }

.below-banner__call-us {
  float: right;
  font-size: 16px;
  text-transform: uppercase;
  line-height: normal;
  margin: 31px 0;
  text-align: center; }

.below-banner__icon-phone {
  border-left: 1px solid #d7dee3; }

.below-banner__img-phone {
  margin: 0 20px 0 40px; }

.below-banner__read-reviews {
  float: right;
  margin-right: 40px; }

.below-banner__button-reviews {
  float: right;
  margin-right: 40px; }

.below-banner__button-reviews a img {
  vertical-align: middle; }

.below-banner__text-reviews {
  font-size: 16px;
  text-transform: uppercase;
  line-height: normal;
  margin: 31px 20px;
  text-align: center;
  float: right; }

.below-banner__text-reviews_text-clor {
  color: #fea100; }

.below-banner__icon-reviews {
  float: right; }

.below-banner__icon-reviews img {
  vertical-align: middle; }

.about-restaurent {
  height: 525px; }

.about {
  max-width: 515px;
  float: left;
  margin: 72.5px 60px 72.5px 70px;
  height: 380px; }

.about p {
  line-height: 2;
  margin-bottom: 40px; }

.about__button {
  background: #fea100;
  padding: 12px 35px;
  margin: 15px 45px 15px 0;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  float: left; }

.about__award-logo {
  float: left; }

.about-img {
  max-width: 715px;
  float: left;
  margin: 65px 0; }

.about-img table {
  height: 395px; }

.about-img td:nth-child(1) {
  vertical-align: bottom;
  width: 270px; }

.about-img td:nth-child(2) {
  vertical-align: top;
  width: 270px; }

.about-img td img {
  padding-bottom: 10px;
  padding-right: 10px; }

.footer {
  height: 510px;
  background-color: #373844;
  color: #adb2b7; }

.footmenu {
  float: left;
  width: 330px;
  margin-top: 90px; }

.footmenu h2 {
  padding-left: 30px; }

.footmenu ul {
  padding-left: 30px; }

.footmenu ul li {
  list-style-type: none;
  font-size: 14px;
  line-height: 1.7; }

.news-letter {
  float: left;
  width: 600px;
  margin-top: 90px; }

.our-app {
  float: left;
  width: 300px;
  margin-top: 90px; }

.footer h2 {
  color: white; }

.subscribe-form {
  display: inline-block; }

.subscribe-form__input-email {
  float: left;
  color: white;
  width: 240px;
  height: 19px;
  padding: 10px 0 10px 40px;
  background-image: url(../img/icon_email.png);
  background-repeat: no-repeat;
  background-position: 10px;
  background-color: #373844;
  border-radius: 5px;
  border: 1px solid #adb2b7;
  outline: none; }

.subscribe-form__button {
  background: #fea100;
  padding: 12px 35px;
  margin: 0 0 0 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  float: left; }

.social-icon {
  margin-top: 40px; }

.our-app__google-play {
  padding-top: 10px; }

.copyright__text {
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  width: 1230px;
  margin-top: 90px; }

.copyright__text::before {
  content: "";
  display: inline-block;
  width: 29%;
  vertical-align: middle;
  background-clip: content-box;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin-right: 30px; }

.copyright__text::after {
  content: "";
  display: inline-block;
  width: 29%;
  vertical-align: middle;
  background-clip: content-box;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin-left: 30px; }
